{% extends('ComponentDashbord/index.html.twig') %}

{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Liste de vos éléves de <strong>{{nameclasse  }}</strong></h2>

        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="text-center">
                            <i class="fa fa-info" style="color: red;font-size: 18px"></i>
                            <span class="text-small" style="font-size: 18px"><strong>Veuillez Cocher uniquement les élèves Absents</strong> </span>
                        </div>
                        <br>
                        <form method="post" action="{{ path(('addabscence')) }}">


                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"> Selectionnez Votre Matiere</label>

                                        <select class="select2 form-control" name="matiere" required>

                                            <option value="">Selectionnez votre matiére</option>


                                            {% for matiereuser in matiereusers %}
                                                <option value="{{ matiereuser.id }}">{{ matiereuser.name }}</option>

                                            {% endfor %}
                                        </select>

                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"> Mettre l'Horraire de votre cours </label>

                                        <div class="input-daterange input-group" id="datepicker">

                                            <input type="time" class="input-sm form-control" name="start"
                                                   required/>
                                            <span class="input-group-addon">à</span>
                                            <input type="time" class="input-sm form-control" name="end"
                                                   required/>
                                        </div>


                                    </div>

                                </div>

                            </div>

                            <div class="table-responsive">
                                <br>
                                <table class="table table-striped table-bordered table-hover " id="datatable">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Absent</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for userperiode in userperiodes %}

                                    {% for userclasse in userclasses %}

                                    {% if userperiode.firstname == userclasse.firstname %}

                                    <tr>
                                        <td class="text-center"> {{ userperiode.firstname }}</td>
                                        <td class="text-center">
                                            <input type="checkbox" id="checkbox1" name="student[]"
                                                   value="{{ userperiode.id }}">

                                        </td>


                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <input type="hidden" value="{{ id }}" name="idperiode">
                            <input type="hidden" value="{{ idclas }}" name="idclasse">
                            <div class="form-group" style="margin-right: 47%;">
                                <button class="btn btn-md btn-primary pull-right" type="submit">Valider</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
